ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-description {
  margin-bottom: 140px;
}

.project-description-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 130px;

  img {
    width: 100%;
    object-fit: contain;
  }

  &:nth-child(3) {
    padding-bottom: 0;

    .project-description-wrapper--process {
      height: 0;
    }
  }

  &.-revert {
    flex-direction: row-reverse;

    .project-description-wrapper--side {
      &:first-child {
        margin-left: 30px;
      }

      &:last-child {
        margin-right: 30px;
      }
    }
  }

  &.is-visible {
    .project-description-wrapper--process {

      &:before {
        height: 100%;
        background: linear-gradient(180deg, #744CC6 83.39%, rgba(116, 76, 198, 0) 100%);
      }

      &:after {
        background-color: #744cc6;
      }
    }
  }

  &--process {
    position: absolute;
    top: 18px;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background-color: #ede4ff;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 0;
      right: 0;
      top: 16px;
      transition: all 0.75s;
    }

    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #ede4ff;
      border-radius: 50%;
      right: -7px;
      top: 0;
      z-index: 1;
    }
  }

  &--side {
    max-width: 615px;
    width: auto;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 30px;
    }
  }


  &--head {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #0D0815;

    .step {
      margin-right: 16px;
    }
  }

  &--list {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #666666;

    li {
      position: relative;
      padding-left: 26px;
      margin-top: 20px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #744CC6;
      }
    }
  }
}

@media (max-width: 1400px) {
  .project-description-wrapper--process {
    display: none;
  }
}

@media (max-width: 768px) {
  .project-description-wrapper {
    flex-direction: column;

    &.-revert {
      flex-direction: column;
    }

    img {
      margin-bottom: 20px;
    }
  }
}
