<section id="project-description">
  <div id="block-{{i + 1}}}" class="project-description-wrapper" [ngClass]="{'-revert': odd}"
       *ngFor="let description of mock as descriptions; let i = index; let odd=odd;">
    <div class="project-description-wrapper--side">
      <img src="{{description.imageLink}}" alt="">
    </div>
    <div class="project-description-wrapper--process"></div>
    <div class="project-description-wrapper--side">
      <div class="project-description-wrapper--head">
        <span class="step">Step {{i + 1}}.</span>
        <span>{{description.stepName}}</span>
      </div>
      <div class="project-description-wrapper--list">
        <ul>
          <li *ngFor="let desciptionItem of description.desciptionList">{{desciptionItem.value}}</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="actions-wrapper">
    <app-false-link-button [name]="'Get started now'"></app-false-link-button>
  </div>
</section>
