.false-link-button {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #744CC6;
  border: 0.5px solid #744CC6;
  border-radius: 100px;
  margin: 40px 0;
  padding: 12px 40px;
  text-decoration: none;
}
