* {
  transition: 0.75s all;
}

h2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 150%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  color: #0D0815;
  text-align: center;
  margin: 40px 0;
}

h3 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  color: #0D0815;

}

.solutions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 88.5px 24px 78.5px 50px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    border-radius: 15px;
    max-width: 415px;
    min-width: 360px;
    width: calc( ( 100% - 40px ) / 3 );
    margin:0 0 30px;

    &:nth-child(3n-1){
      margin-left: 30px;
      margin-right: 30px;
    }

    .default-link {
      opacity: 0;
      margin-top: 0;
    }

    &:hover {
      padding: 50px 50px 35px;
      img {
        opacity: 0;
        max-height: 0;
        max-width: 0;
      }

      .default-link {
        opacity: 1;
        margin-top: 95px;
      }

      .solutions-wrapper--item-description {
        max-height: 100%;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
      }
    }

    img {
      opacity: 1;
      max-width: 80px;
      max-height: 80px;
    }

    &-description {
      max-height: 58px;
      text-overflow: ellipsis;
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.01em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #666666;
      display: -webkit-box;
      -webkit-line-clamp: 2; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.default-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #744CC6;
  text-decoration: none;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .solutions-wrapper {
    &--item {
      width: calc( ( 100% - 40px ) / 2 );

      &:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 890px) {
  .solutions-wrapper {
    &--item {
      width: calc( ( 100% - 40px ) / 1 );

      &:nth-child(2n) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
