<div>
  <h2>Solution driven expertise</h2>
  <div class="solutions-wrapper">
    <div class="solutions-wrapper--item" *ngFor="let solution of mock">
      <div>
        <img src="{{solution.imageLink}}" alt="Software">
        <h3>{{solution.name}}</h3>
        <p class="solutions-wrapper--item-description">
          {{solution.description}}
        </p>
      </div>

      <a href="#" class="default-link">Learn more</a>
    </div>
  </div>
</div>

<div class="actions-wrapper">
  <app-false-link-button [name]="'Our services'"></app-false-link-button>
</div>
